<div class="container">
    <form [formGroup]="formProduct" (ngSubmit)="enviar()">    
        <h1>New Product</h1>
        <hr>
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="...product name" formControlName="name"
          [ngClass]="{'is-invalid':  hasError('name', 'required') || hasError('name', 'minlength')}">
        <span *ngIf="hasError('name', 'required')" class="text-danger">you have to complete this field name</span>
        <span *ngIf="hasError('name', 'minlength')" class="text-danger">you have to write at least 3 characters</span>
      </div>
  
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="textarea" class="form-control" id="description" placeholder="...describe" formControlName="description"
          [ngClass]="{'is-invalid':  hasError('description', 'required') || hasError('description', 'minlength')}">
        <span *ngIf="hasError('description', 'required')" class="text-danger">you have to complete this field description</span>
        <span *ngIf="hasError('description', 'minlength')" class="text-danger">you have to write at least 10 characters</span>
      </div>
  
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" placeholder="...0.00" formControlName="price"
          [ngClass]="{'is-invalid':  hasError('price', 'required')}">
        <span *ngIf="hasError('price', 'required')" class="text-danger">you have to complete this field price</span>
      </div>
  
      
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select class="form-select" id="category" formControlName="category"
        [ngClass]="{'is-invalid':  hasError('category', 'required')}">
        <option value="">--- Select Category Product</option>
        <option value="shoes">Shoes</option>
        <option value="shirts">Shirts</option>
        <option value="pants">Pants</option>
        <option value="t-shirts">T-Shirts</option>
      </select>
      <span *ngIf="hasError('category', 'required')" class="text-danger">you have to complete this field category</span>
    </div>  

    <div class="mb-3">
      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>product image</ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">        
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>
    
      <button type="submit" class="btn btn-primary p-1">Submit</button>
    </form>
  </div>
  