<div class="container">

    <div *ngIf="provider">
        <h2>Update Provider</h2>
        <hr>
        <form (ngSubmit)="updateProvider()">
        <div class="mb-3">
          <label for="providerName" class="form-label">Provider Name:</label>
          <input class="form-control" type="text" id="providerName" [(ngModel)]="provider.name" name="providerName" required>   
        </div>   
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="textarea" class="form-control" id="address" [(ngModel)]="provider.address" name="address" required>       
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone:</label>
          <input class="form-control" type="text" id="phone" [(ngModel)]="provider.phone" name="phone" required>   
        </div>   
        <div class="mb-3">
          <label for="rif" class="form-label">Rif:</label>
          <input class="form-control" type="text" id="rif" [(ngModel)]="provider.rif" name="rif" required>   
        </div>   
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input class="form-control" type="text" id="email" [(ngModel)]="provider.email" name="email" required>   
        </div>    
        <a  routerLink="/providers">
            <img src="../../assets/back.png" width="4%" alt="back" style="margin-right: 15px;">
          </a>
          <button type="submit" class="btn btn-primary mt-3">Update</button>
        </form>
      </div>
    </div>
    