 
  <div class="container2" *ngIf="providerList.length > 0;">
    <div style="display: flex; align-items: center;">
        <img style="width: 6%;" src="../../assets/provider.png" alt="cart">
        <h4 style="margin-left: 10px;">Providers</h4>
      </div>
    <hr>
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 15%;">Name</th>
          <th style="width: 10%;">Phone</th>
          <th style="width: 20%;">Email</th>
          <th style="width: 5%;">Detail</th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of providerList"> 
          <td>{{ item.name }}</td>
          <td>{{item.phone}}</td>         
          <td>{{item.email}}</td>  
          <td> 
            <button
            type="button"
            class="btn btn-outline-secondary" 
            [routerLink]="['/provider', item.id]"         
          >
        <img src="../../assets/detalle.png" style="width: 50%;" alt="">
        </button></td>     
            
        </tr>
      </tbody>
    </table>  
   
</div>

  