<div class="center">
    <div class="card" style="width: 35rem;">         
      <div class="card-body">      
        <h5 class="card-title">
          <b><a routerLink="/providers"><img src="../../../assets/provider.png" style="width: 10%;" alt="icon"></a> 
            {{provider?.name| uppercase}}</b>
          </h5>
        <hr><h6 class="card-title"><img src="../../../assets/rif.png" style="width: 5%;" alt="Rif"> <b> Rif: </b>{{provider?.rif}}</h6>
        <hr><h6 class="card-title"><img src="../../../assets/email.png" style="width: 5%;" alt="email"> <b> Email: </b>{{provider?.email}}</h6>
        <hr><h6 class="card-title"><img src="../../../assets/phone.png" style="width: 5%;" alt="phone"> <b> Phone: </b>{{provider?.phone}}</h6>
        <hr><p class="card-text"><b><img src="../../../assets/direccion.png" style="width: 5%;" alt="address"> <b> Address: </b>{{provider?.address}}</b></p>
        <hr><div style="display: flex; justify-content: space-between;">
          <a  routerLink="/providers">
            <img src="../../assets/atras.png" width="55px" alt="back">          
        </a>    
          <a   [routerLink]="['/update-provider', provider?.id]">
            <img src="../../../assets/edit.png" width="45px" alt="back">          
        </a>    
      </div>
    </div>
  </div>
  </div>
 
