<div class="center">
    <div class="card" style="width: 35rem;">         
      <div class="card-body">
        <h5 class="card-title">Name: {{provider?.name| uppercase}}</h5>
        <h6 class="card-title"><img src="../../../assets/phone.png" style="width: 5%;" alt="">{{provider?.phone}}</h6>
        <h6 class="card-title">{{provider?.email}}</h6>
        <p class="card-text"><b>{{provider?.address}}</b></p>
        <div style="display: flex; justify-content: space-between;">
          <a  routerLink="/providers">
            <img src="../../assets/atras.png" width="55px" alt="back">          
        </a>    
      </div>
    </div>
  </div>
  </div>
 
  