
.container {
  margin: 2% auto; /* Margen superior e inferior del 2%, y centrado horizontalmente */
  display: flex;
  flex-wrap: wrap;    
}

.card {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(230, 226, 226, 0.22) 0px 15px 12px;  
}
.edit{
  width: 50%;
}
.imgP{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 2%;

}
.btn{
  margin-right: 2%;
  border: none;
}
.search{
  width: 100%;
  margin-left: 5%;
}
.lblCat{
  margin-left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}