.container {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    border-radius: 2%;
    box-shadow: rgba(1, 37, 61, 0.25) 0px 54px 55px, rgba(106, 109, 203, 0.12) 0px -12px 30px, rgba(136, 208, 218, 0.12) 0px 4px 6px, rgba(54, 65, 91, 0.17) 0px 12px 13px, rgba(4, 234, 250, 0.09) 0px -3px 5px;

    text-align: center; /* Centra el texto en el contenedor2 */
    background: rgb(83, 155, 243);
  }

  .dateCab{
    text-align: left;
  }

 
  
  .imgFav {
    width: 7%;
    margin-right: 100%;
  }
 
  
  