.container{
    display: grid;
    justify-items: center; 
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
      


img{
    margin-top: 3%;
    width: 75%;
    height: 75%;
    object-fit: cover;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}